.padding {
    padding: 10px;
}

.listing_image {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.listing_page_image{
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    object-fit: contain;
}

a.card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

a.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

nav {
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}