textarea {
    min-height: 400px;
}

@keyframes archive {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
} 

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.email {
    padding: 0px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    animation-name: archive;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.email:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.archive{
    float: left;
}