{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h3 class="col-xs">All Posts</h3>
            <div class="col">

            </div>
            {% if user.is_authenticated %}
                <button id="new-post-button" class="btn btn-primary">New Post</button>
            {% endif %}
        </div>
        <br>
        <div id="new-post" class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <h5 class="card-title">New Post</h5>        
                    <textarea id="new-post-textarea" name="post" class="form-control" id="exampleFormControlTextarea5" rows="2"></textarea>
                    <p id="counter">0/280</p>
                    <button type="submit" class="btn btn-primary">Post</a>
                </form>
              </div>
        </div>

        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.user.username }}</h5>
                    <p class="card-text">{{ post.text }}</p>
                    <button class="btn">{{ post.get_likes_num}} <i class="fa fa-heart"></i></button>
                </div>
            </div>
            <br>
        {% empty %}
            <div class="alert alert-primary" role="alert">
                No Posts!
          </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}