{% extends "auctions/layout.html" %}

{% block body %}
    <form class="form-inline" method="POST">
        {% csrf_token %}
        <h2 class="padding form-group mb-2">{{ category }}</h2>
        <select class="form-group mb-2" name="cat" id="cat">
            <option value="{{ category }}">{{ category }}</option>
            {% for cat in categories%}
                <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-success mx-sm-2 mb-2 small_button" type="submit">Go</button>
    </form>
    <div class="d-flex flex-wrap padding">
        {% for listing in listings %}
            {% if listing.active %}
            <div class="padding">
                <a class="card padding" width="220px" href="{% url 'listing' listing.id %}">
                    <img src="{{listing.image}}" class="listing_image"><br>
                    <h4>{{ listing.title }}</h4>
                    <p>Starting Price: ${{ listing.price }} <br>
                    Current Bid: ${{ listing.current_bid}} <br>
                    By: @{{listing.user.username}}</p>
                </a>
            </div>
            {% endif %}
        {% empty %}
        <div class="alert alert-secondary" role="alert">
            No Listings in this category
        </div>
        {% endfor %}
    </div>
{% endblock %}