{% extends "auctions/layout.html" %}

{% block body %}
    <div class="padding">
        <h2>Active Listings</h2>

        <div class="container-fluid">
            {% for listing in listings %}
                {% if listing.active %}
                <div class="card">
                    Name: {{ listing.title }}, Starting Price: ${{ listing.price }} Current: ${{ listing.current_bid}} By: @{{listing.user.username}}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}