{% extends "layout.html" %}
{% block title %}
    {{ main }}
{% endblock %}
{% block heading %}
    {{ main }}
{% endblock %}

{% block body %}
    <div class="card">
        <form action="{{ url_for('authenticate') }}" method="post">
            {% for input in inputs %}
                <input name="{{ inputs[input] }}" placeholder="{{ input }}" type="{{ inputs[input] }}">
            {% endfor %}
            <button name="auth_type" value="{{ main }}" class="btn-success">{{ main }}</button>
        </form>
    </div>
{% endblock %}