$margin: auto;
$small-radius: 10px;
$radius: 20px;

%section{
    font-family: sans-serif;
    font-weight: 300;
}

@media (max-width: 699px) 
{
    h1 {
        font-size: xx-large;
    }
    h2 {
        font-size: x-large;
    }
    h3 {
        font-size: large;
    }
    h4 {
        font-size: medium;
    }
    h5 {
        font-size: small;
    }
    h6 {
        font-size: smaller;
    }
    p {
        font-size: small;
    }
    th, td {
        font-size: small;
    }
    img {
        width: 50%;
    }
}

div[class="card-body"]{
    h6{
        color: #606060;
    }
}

div[class="card text-center border-warning"], div[class="card border-primary"], div[class="card border-success"], div[class="card border-info"], img{
    border-radius: $radius;
}

a[type="button"]{
    border-radius: $small-radius;
}
a:hover[type="button"]{
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

table, th, td {
    border-radius: $small-radius;
    background: #ddd;
    overflow: hidden;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}

#work{
    @extend %section;
    color: rgb(0, 148, 0);
}

#volunteer{
    @extend %section;
    color: rgb(94, 0, 55);
}

.center {
    margin: $margin;
    padding: 15px;
}

.center-button{
    margin: $margin;
    padding: 6px;
}