{% extends "hotels/layout.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid">
        <h3 >Rooms</h3>
        <p id="hotel">{{ hotel }}</p>
        <div class="card searchcard">
            <h4>Where and When?</h4>
            <input id="search" class="form-control" placeholder="Search"/>
            <label class="col-form-label">Check-In: </label>
            <input id="start" class="form-control" type="date"/>
            <label class="col-form-label">Check-Out: </label>
            <input id="end" class="form-control" type="date"/>
            <hr>
            <button class="btn btn-outline-success">Search</button>
        </div>
        

        <div id="roomsarea" class="d-flex flex-wrap">
        </div>

        <div class="custommodal" id="book">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Book Room</h5>
                        <button type="button" class="close" id="close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 id="hotel-name">{{ room.hotel.name }}</h5>
                        <p id="hotel-address" style="font-size:small;">{{ room.hotel.address }}</p>
                        <hr>
                        <div class="row">
                            <img class="bookimage" id="room-img">
                            <img class="bookimage" id="hotel-img">
                        </div>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" id="room-type"></li>
                            <li class="list-group-item" id="room-number"></li>
                            <li class="list-group-item"><strong id="room-price"></strong></li>
                            {% if user.card %}
                                <li class="list-group-item"><strong>Card: </strong> ************{{ user.card.number|slice:"12:"}}</li>
                            {% else %}
                                <li class="list-group-item"><button class="btn btn-primary">Add Card</button></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        {% if user.card %}
                            <button type="button" class="btn btn-success">Book</button>
                        {% else %}
                            <button disabled type="button" class="btn btn-success">Book</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'hotels/index.js' %}"></script>
{% endblock %}