{% extends "hotels/layout.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid">
        <h3>{{ type }}</h3>


        <div class="d-flex flex-wrap">
            {% for room in rooms %}
                <div class="card room">
                    <img src="{{ room.image }}" class="card-img-top image">
                    <div class="card-body">
                        <h5 class="card-title">{{ room.hotel.name }}</h5>
                        <p class="card-subtitle" style="font-size:small;">{{ room.hotel.address }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Type:</strong> {{ room.room_type }}</li>
                        <li class="list-group-item"><strong>Room Number:</strong> {{ room.number }}</li>
                        <li class="list-group-item"><strong>${{ room.price }}</strong> per Night</li>
                    </ul>
                    <div class="card-body text-center">
                        <a href="https://maps.google.com/?q={{ room.hotel.name }}" class="btn btn-warning">Direction</a>
                        <button class="btn btn-success book" data-hotel="{{ room.hotel.name }}" data-address="{{ room.hotel.address }}" data-price="{{ room.price }}" data-img="{{ room.image }}" data-hotelimg="{{ room.hotel.image }}" data-number="{{ room.number }}" data-roomtype="{{ room.room_type }}">Choose</button>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-warning" role="alert">
                    No Rooms Found!
                </div>
            {% endfor %}
        </div>

        <div class="custommodal" id="book">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Book Room</h5>
                        <button type="button" class="close" id="close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 id="hotel-name">{{ room.hotel.name }}</h5>
                        <p id="hotel-address" style="font-size:small;">{{ room.hotel.address }}</p>
                        <hr>
                        <div class="row">
                            <img class="bookimage" id="room-img">
                            <img class="bookimage" id="hotel-img">
                        </div>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" id="room-type"></li>
                            <li class="list-group-item" id="room-number"></li>
                            <li class="list-group-item"><strong id="room-price"></strong></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'hotels/index.js' %}"></script>
{% endblock %}